<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="logFormat"  value="%d{MM-dd HH:mm:ss,SSS} [%-5level] [%thread] [%C{15}.%M\\(%F:%L\\)] %msg%n"/>

    <!-- definition of appender STDOUT -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${logFormat}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>